# 项目核心依赖
numpy>=1.21.0,<2.0.0
opencv-python>=4.6.0
python-dotenv

# AI/ML 框架
torch>=1.13.0
torchvision>=0.14.0
ultralytics==8.3.169

# rmyc_bridge
aioconsole==0.8.1
pyserial>=3.5
prompt_toolkit>=3.0,<4.0
